* {
    margin: 0;
    padding: 0;
    font-family: 'Lato', sans-serif;
}

.navbar-default{
    height: 80px;
    border-radius: 0px;
    border: none;
    margin: 0;
    background: none;
    position: fixed;
    width: 100%;
    z-index: 3;
}

.navbar-scroll{
    background-color: black;
}

.navbar-default .navbar-nav .active>a, .navbar-default .navbar-nav .active>a:hover{
    color: #ff8619;
    text-shadow: 0 0 1px #ff8619, 0 0 2px #ff8619, 0 0 3px #ff8619;
    background-color: transparent;
}

.navbar-brand img {
    max-height: 100%;
}

.navbar-default .navbar-brand {
    height: 80px;
    padding: 0;
}

.navbar-collapse {
    overflow: visible;
    border: none;
}

@media (max-width: 768px){
    .navbar-nav {
        background: #ff8619;
        text-align: center;
    }
}

.navbar-right {
    margin-top: 1.8em;
}

.navbar-default .navbar-right li a {
    margin-right: 12px;
    text-decoration: none;
    font-weight: 700;
    font-size: 22px;
    letter-spacing: 1px;
    color: white;
}

.navbar-right li:last-child a{
    margin-right: 0;
}

.navbar-default .navbar-right li a:hover {
    color: #ff8619;
    text-shadow: 0 0 1px #ff8619, 0 0 2px #ff8619, 0 0 3px #ff8619;
}

.welcome-sign-picture {
    color: #070400;
    width: 100%;
    position: absolute;
    bottom: 30%;
    left: 50%;
    transform: translateX(-50%);
}

.welcome-sign-picture h1 {
    margin: 0 auto 1em;
    font-size: 7em;
    font-weight: 900;
    letter-spacing: 10px;
    color: white;

}

.text{
    color: #ff8619;
}

.rwd-break {
    display: block;
}

@media (min-width: 1200px) {
    .rwd-break {
        display: inline;
    }
}

.main-button {
    background-color: #ff8619;
    border-radius: 10px;
    padding: 5px 30px;
    font-size: 3em;
    font-weight: 900;
    letter-spacing: 5px;
    color: white;
    text-decoration: none;
}

.main-button:hover {
    box-shadow: 0 0 10px #ff8619, 0 0 20px #ff8619, 0 0 40px #ff8619, 0 0 70px #ff8619, 0 0 100px #ff8619;
    text-decoration: none;
    color: white;
    text-shadow: 0 0 1px #fff, 0 0 2px #fff;
}

#sign-in {
    font-size: 20px;
    padding: 20px;
    text-align: center;
}

#sign-in input {
    border: 2px solid #070400;
    border-radius: 5px;
    padding: 10px;
}

.logo-button-main {
    width: 15%;
    height: 10%;
}

.function-header, .team-header{
    font-weight: 900;
    font-size: 3em;
    letter-spacing: 3px;
    padding: 30px 0;
}

.function-description{
    text-align: justify;
}
.row{
    padding-bottom: 30px;
}
.feature-tile .img-circle{
    max-width: 250px;
    height: 250px;
}
.feature-tile{
    max-width: 300px;
    margin: auto;
}
.img-thumbnail{
    background-color: #FF8619;
    padding: 7px;
}

.function-text{
    font-weight: 700;
    font-size: 28px;
}

.feature-tile img:hover{
    transform: scale(1.2);
    -ms-transform: scale(1.2);
    -webkit-transform: scale(1.2);
}

.team-section {
    padding-bottom: 5em;
    background: #868686;
}

.members {
    position: relative;
    border: 0.5em solid #FF8619;
    border-radius: 3em;
    margin: 1em auto;
    width: 250px;
    z-index: 0;
}

.members img {
    max-height: 200px;
    margin: 1em auto;
}

.member-description{
    font-size: 3em;
    text-transform: uppercase;
    font-weight: 800;
}

.social-media {
    font-size: 3em;
    color: inherit;
    position: absolute;
    width: 100%;
    padding: 10px;
    bottom: 0;
    z-index: 1;
    visibility: hidden;
}

.fa{
    color: #0077B5;
}

.signIn {
    margin-top:8em;
    margin-bottom: 12em;
}
.signIn h1 {
    padding: 1.5em;
    font-size: 48px;
}
.signInLogo {
    width: 250px;
    height: 100px;
    display: inline;
}
.sign-in {
    margin-top:8em;
    margin-bottom: 12em;
}
.sign-in h1 {
    padding: 1.5em;
    font-size: 48px;
}
.sign-in-logo {
    width: 250px;
    height: 100px;
    display: inline;
}
.btn {
    background: #ff8619;
}
.sign-in-btn, #cookie-button {
    margin-top: 1%;
    background-color: #ff8619;
    font-weight: bold;
    letter-spacing: 2px;
    color: white;
    text-decoration: none;
    border: none;
}
.sign-in-btn:hover, #cookie-button:hover {
    background: #ff8619;
}
label {
    font-size: 1.5em;
}
footer {
    height: 100px;
    font-size: 20px;
    background-color: #ff8619;
}
footer p {
    position: relative;
    top: 50%;
    transform: translateY(-50%);
}
@media (max-width: 768px) {
    .function-header, .team-header{
        font-weight: 500;
        font-size: 1.6em;
        letter-spacing: 2px;
        padding: 20px 0;
    }
    .function-text{
        font-weight: 700;
        font-size: 1.5em;
        margin-bottom: 36px;
    }
    .welcome-sign-picture h1 {
        font-size: 4em;
    }
    .main-button {
        font-size: 2em;
    }
    .shake-trigger:hover .shake-chunk, .shake-chunk.shake-freeze, .shake-chunk.shake-constant {
        max-width: 60px;
    }
    .feature-tile{
        margin: auto;
    }
    .feature-tile img:hover{
        transform: scale(1.1);
        -ms-transform: scale(1.1);
        -webkit-transform: scale(1.1);
    }
    .row {
        padding-bottom: 0;
    }
}

@media (max-width: 450px) {
    .welcome-sign-picture {
        bottom: 20%;
    }
    .welcome-sign-picture h1 {
        font-size: 2em;
    }
    .main-button {
        font-size: 1.5em;
    }
    .shake-trigger:hover .shake-chunk, .shake-chunk.shake-freeze, .shake-chunk.shake-constant {
        max-width: 30px;
    }
    .navbar-brand img {
        -webkit-transform: scale(0.6);
    }
}
#start img {
    max-height: 100vh;
    margin: 0 auto;
    width: 100%;
    background-size: cover;
    background-position: center;
}
.carousel-control {
    z-index: 2;
}
.game-section {
    width: 100%;
    height: 90vh;
    border: 10px solid #ff8619;
    text-align: center;
    border-radius: 10px;
}

.game-section button {
    margin-top: 1em;
}

.game-section h1 {
    padding-bottom: 0.7em;
    padding-top: 0.7em;
}
#gameDiv {
    width: 100%;
    height: 80vh;
}

#cookie-alert {
    height: 80px;
    background-color: black;
    font-size: 17px;
    color: #ff8619;
    padding: 15px 40px;
    position: fixed;
    bottom: 0;
    width: 100%;
}

#cookie-button {
    float: right;
    padding: 7px 7px;
    height: 40px;
}

/*#cookie-button:hover {
    background-color: #4CAF50;
    color: white;
}
*/
