header {
    height: 100vh;
    max-width: 100%;
    margin-top: 25%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

* {
    margin: 0;
    padding: 0;
}

html {
    height:100%;
}

body {
    height: 100%;
    width: 100%;
    background-image: url("../images/hypnotize.png");
}


#button {
    position: absolute;
    top: 0%;
    left: 0%;
    right: 0;
    bottom: 0;
    display: flex;

button {
    background-color: #FBE4C1;
    border-radius: 10px;
    box-shadow: 2px 2px 2px #fbc0aa;
    position: absolute;
}
button:hover {
    /*background-color: #fbd1ad;*/
    opacity: 0.7;
    border-radius: 10px;
    box-shadow: 2px 2px 2px #fbc0aa;
}

#signin {
    font-size: 20px;
    padding:20px;
    text-align: center;
}

#signin input {
    border: 2px solid #070400;
    border-radius: 5px;
    padding: 10px;
}

body header h1 {
    display: block;
}

.mainPicture {
    width: 100%;
    max-height: 20%;
}

.welcomeSign {
    font-style: oblique;
}

.logoButtonMain {
    width: 15%;
    height: 10%;
}

#functions{
    display: flex;
}
#functions article{
    text-align: center;
    margin: 50px;
    padding: 20px;
    background: rgb(255,0,0);
    border-radius: 20px;
}
#functions article img{
    max-width: 100%;
}
#functions article h1{
    /*text-align: center;*/
}
#functions article p {
    text-align: justify;
}


#nav{
    display: flex;
    flex-direction: row;
    align-items: center;
    background-color: #FCB144;
    position: fixed;
    height: 100px;
    width: 100%;
    justify-content: space-between;
}

nav{
    display: flex;
    justify-content: flex-end;
    margin-right: 30px;
}

img{
    width: 15%;
}

button{
    border-radius: 5px;
    background-color: #FBE4C1;
    border: none;
    padding: 20px;
    width: 120px;
    margin: 5px;
    cursor: pointer;
}

.button:hover{
    background-color: #e4cca5;
}

.button:focus{
    outline-style: none;
}
