* {
    margin: 0;
    padding: 0;
}

#mainPicture{
    height: 100vh;
    margin-top: 100px;
}

.mainPicture {
    max-width: 100%;
    /*margin-top: 25%;*/
}

header {
    display: flex;
    flex-direction: column;
    /*justify-content: center;*/
    /*align-items: center;*/
}

/*html {*/
    /*height:100%;*/
/*}*/

body {
    /*height: 100%;*/
    /*width: 100%;*/
    background-image: url("../images/hypnotize.png");
}

#signButton {
    position: absolute;
    top: 40%;
    left: 60%;
    display: flex;
    background-color: #FBE4C1;
    border-radius: 10px;
    box-shadow: 2px 2px 2px #fbc0aa;
}

#signButton:hover {
    /*background-color: #fbd1ad;*/
    opacity: 0.7;
    border-radius: 10px;
    box-shadow: 2px 2px 2px #fbc0aa;
}

#signin {
    font-size: 20px;
    padding:20px;
    text-align: center;
}

#signin input {
    border: 2px solid #070400;
    border-radius: 5px;
    padding: 10px;
}

/*body header h1 {*/
    /*display: block;*/
/*}*/

.WelcomeSignPicture{
    position: absolute;
    top: 20%;
    left: 20%;
}

.welcomeSign {
    font-style: oblique;
}

.logoButtonMain {
    width: 15%;
    height: 10%;
}

#functions{
    display: flex;
}
#functions article{
    text-align: center;
    margin: 50px;
    padding: 20px;
    background: rgb(255,0,0);
    border-radius: 20px;
}
#functions article img{
    max-width: 100%;
}
#functions article h1{
    /*text-align: center;*/
}
#functions article p {
    text-align: justify;
}


#nav{
    display: flex;
    flex-direction: row;
    align-items: center;
    background-color: #FCB144;
    position: fixed;
    height: 100px;
    width: 100%;
    justify-content: space-between;
    z-index: 1;
}

#nav nav{
    display: flex;
    justify-content: flex-end;
    margin-right: 30px;
}

.navLogo{
    width: 200px;
    max-height: 100%;
}

.navButton{
    border-radius: 5px;
    background-color: #FBE4C1;
    border: none;
    padding: 20px;
    width: 120px;
    margin: 5px;
    cursor: pointer;
}

.navButton:hover{
    background-color: #e4cca5;
}
.navButton:focus {
    outline-style: none;
}
