* {
    margin: 0;
    padding: 0;
}

html, body {
    width: 100%;
}

.picture {
    height: 100vh;
    margin: 0 auto;
    width: 100%;
    background: url(../images/mainPic.jpeg) no-repeat;
    background-size: cover;
    background-position: center;
}

header {
    display: flex;
    flex-direction: column;
    align-items: center;
}

body {
    background-image: url("../images/hypnotize.png");
}

/*body header h1 {*/
/*display: block;*/
/*}*/

.welcome-sign-picture {
    align-items: center;
    color: #070400;
    width: 100%;
    display: flex;
    flex-direction: column;
    font-family: Montserrat, sans-serif;
    justify-content: center;
    position: absolute;
    bottom: 30%;
    left: 50%;
    transform: translateX(-50%);
    z-index: 12;
}

.welcome-sign-picture h1 {
    font-size: 75px;
    font-weight: 700;
    letter-spacing: 5px;
}

.welcome-sign-picture h3 {
    letter-spacing: 2px;
    margin-top: 2%;
}

.mainButton {
    margin-top: 3%;
    font-family: Montserrat, sans-serif;
    border: 2px solid #070400;
    background-color: transparent;
    border-radius: 10px;
    padding: 5px 40px 5px 40px;
    font-size: 40px;
    font-weight: 700;
    letter-spacing: 5px;
    color: #070400;
    text-decoration: none;
}

.mainButton:hover {
    background-color: rgba(7, 4, 0, .25);
}

#signin {
    font-size: 20px;
    padding: 20px;
    text-align: center;
}

#signin input {
    border: 2px solid #070400;
    border-radius: 5px;
    padding: 10px;
}

.logoButtonMain {
    width: 15%;
    height: 10%;
}

#functions .article-wrapper {
    width: 25%;
    display: inline-block;
    float: left;
}

#functions .article-wrapper article {
    text-align: center;
    background: rgb(255, 0, 0);
    border-radius: 20px;
}

#functions article img {
    max-width: 100%;
}

#functions article h1 {
    /*text-align: center;*/
}

#functions article p {
    text-align: justify;
}

#nav {
    display: flex;
    flex-direction: row;
    align-items: center;
    background-color: transparent;
    position: fixed;
    height: 100px;
    width: 100%;
    justify-content: space-between;
    z-index: 11;
}

#nav nav {
    display: flex;
    justify-content: flex-end;
    margin-right: 30px;
}

.navLogo {
    width: 150px;
    max-height: 100%;
}

.menu {
    margin-right: 30px;
    display: inline;
}

.menu ul {
    list-style-type: none;
}

.menu li {
    float: left;
    margin-right: 2em;
    padding: 2px 5px;
}

.menu li:hover {
    border-radius: 5px;
    background-color: rgba(7, 4, 0, .25);
    padding: 2px 5px;
}

.menu li a {
    text-decoration: none;
    font-weight: 400;
    font-size: 90%;
    letter-spacing: 1px;
    color: #070400;
    font-family: Montserrat, sans-serif;
}

.team-section {
    display: flex;
    flex-direction: row;
    justify-content: center;
}


.members img {
    height: 150px;
    width: auto;
}

