* {
    margin: 0;
    box-sizing: border-box;
}

#game {
    background: #868686;
    width: 100%;
    height: 100vh;
    border: 20px solid black;
}

#gameArea {
    width: 100%;
    height: 100vh;
    padding: 100px;
    position: absolute;
    top: 0;
    z-index: 2;
}

#player {
    background-image: url("images/bucket.png");
    background-size: contain;
    bottom: 10px;
    width: 100px;
    height: 100px;
    position: absolute;
}

.popcornDefault {
    top:50px;
    left:0;
    position:absolute;
    z-index:1;
    width:10px;
    height:10px;
    background:white;
}

.popcornBurned {
    top:50px;
    left:0;
    position:absolute;
    z-index:1;
    width:10px;
    height:10px;
    background:black;
}
