.popcornDefault {
    top:50px;
    left:0;
    position:absolute;
    z-index:1;
    width:10px;
    height:10px;
    background:white;
}

body {
    background-color:grey;
}

#site {
    width:80%;
    height:80vh;
    margin:0 auto;
    position:relative;
}
